#main-container
{
  width: 500px;
  margin: auto;
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
#gametitle
{
  margin-top: 50px;
  font-family: 'Arvo', serif;
  font-size: 100px;
  line-height: 100px;
  color: #3e2723;
  vertical-align: middle;
  text-align: center;
}
#gameboard
{
  font-family: 'Arvo', serif;
  font-size: 2em;
  width: 500px;
  height: 500px;
  display: table;
  background-color: #bcaaa4;
  position: relative;
  border-radius: 12px;
}
#gameboardoverlay
{
  width: 500px;
  height: 500px;
  z-index: 100;
  border-radius: 12px;
  position: absolute;
  -webkit-transition: all .3s ease-in-out, opacity 1s ease-in-out;
     -moz-transition: all .3s ease-in-out, opacity 1s ease-in-out;
      -ms-transition: all .3s ease-in-out, opacity 1s ease-in-out;
       -o-transition: all .3s ease-in-out, opacity 1s ease-in-out;
          transition: all .3s ease-in-out, opacity 1s ease-in-out;
  background-color: rgb(255, 243, 224);
  opacity: 0;
  -webkit-transform: translateY(-488px);
     -moz-transform: translateY(-488px);
      -ms-transform: translateY(-488px);
       -o-transform: translateY(-488px);
          transform: translateY(-488px);
}
#gameboardoverlay.active
{
  opacity: 0.7;
}
#gamewordoverlay
{
  font-family: 'Arvo', serif;
  width: 500px;
  height: 500px;
  z-index: 110;
  position: absolute;
  font-size: 70px;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: all .3s ease-in-out, line-height 1s ease-in-out;
     -moz-transition: all .3s ease-in-out, line-height 1s ease-in-out;
      -ms-transition: all .3s ease-in-out, line-height 1s ease-in-out;
          transition: all .3s ease-in-out, line-height 1s ease-in-out;
       -o-transition: all .3s ease-in-out, line-height 1s ease-in-out;
  opacity: 0;
  line-height: 600px;
  -webkit-transform: translateY(-488px);
     -moz-transform: translateY(-488px);
      -ms-transform: translateY(-488px);
       -o-transform: translateY(-488px);
          transform: translateY(-488px);
}
#gamewordoverlay.active
{
  opacity: 1;
  line-height: 400px;
}
#gamewordoverlay.wincolor
{
  color: #bf360c ;
}
#gamewordoverlay.losecolor
{
  color: #3e2723;
}
.gamerow
{
  width: 100%;
  display: table;
  margin-top: 12px;
}
.gamecell
{
  float: left;
  height: 110px;
  width: 110px;
  display: table-cell;
  background-color: #d7ccc8;
  border-radius: 6px;
  margin-left: 12px;
}
.gamescore
{
  font-family: 'Arvo', serif;
  height: 100px;
  padding: 10px;
  line-height: 20px;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  border-radius: 6px;
  color: #efebe9;
  background-color: #a1887f;
}
#newgame
{
  font-family: 'Arvo', serif;
  width: 100%;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  border-radius: 6px;
  color: #bcaaa4;
  background-color: #795548;
}
#gamescorenotice, #highscorenotice
{
  line-height: 70px;
  font-size: 60px;
}
.gamepiece
{
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
  height: 110px;
  width: 110px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  border-radius: 6px;
}
.gamepiececore
{
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
    -webkit-transform: scale(1, 1);
       -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
         -o-transform: scale(1, 1);
            transform: scale(1, 1);
    height: 110px;
    width: 110px;
    text-align: center;
    line-height: 110px;
    vertical-align: middle;
    border-radius: 6px;
}
.gamepiececore.entering
{
  -webkit-transform: scale(0, 0);
     -moz-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
       -o-transform: scale(0, 0);
          transform: scale(0, 0);
}
.gamepiececore.color-1
{
  background-color: #fff59d;
  color: #f57f17;
}
.gamepiececore.color-2
{
  background-color: #ffe082;
  color: #ff6f00;
}
.gamepiececore.color-3
{
  background-color: #ffcc80;
  color: #e65100;
}
.gamepiececore.color-4
{
  background-color: #ffab91;
  color: #bf360c;
}
.gamepiececore.color-5
{
  background-color: #ef9a9a;
  color: #b71c1c;
}
.gamepiececore.color-6
{
  color: #fff59d;
  background-color: #f57f17;
}
.gamepiececore.color-7
{
  color: #ffe082;
  background-color: #ff6f00;
}
.gamepiececore.color-8
{
  color: #ffcc80;
  background-color: #e65100;
}
.gamepiececore.color-9
{
  color: #ffab91;
  background-color: #bf360c;
}
.gamepiececore.color-10
{
  color: #ef9a9a;
  background-color: #b71c1c;
}
.gamepiececore.color-11
{
  color: #bcaaa4;
  background-color: #3e2723;
}
.position1-1
{
  -webkit-transform: translate(12px, -476px);
     -moz-transform: translate(12px, -476px);
      -ms-transform: translate(12px, -476px);
       -o-transform: translate(12px, -476px);
          transform: translate(12px, -476px);
}
.position1-2
{
  -webkit-transform: translate(134px, -476px);
     -moz-transform: translate(134px, -476px);
      -ms-transform: translate(134px, -476px);
       -o-transform: translate(134px, -476px);
          transform: translate(134px, -476px);
}
.position1-3
{
  -webkit-transform: translate(256px, -476px);
     -moz-transform: translate(256px, -476px);
      -ms-transform: translate(256px, -476px);
       -o-transform: translate(256px, -476px);
          transform: translate(256px, -476px);
}
.position1-4
{
  -webkit-transform: translate(378px, -476px);
     -moz-transform: translate(378px, -476px);
      -ms-transform: translate(378px, -476px);
       -o-transform: translate(378px, -476px);
          transform: translate(378px, -476px);
}
.position2-1
{
  -webkit-transform: translate(12px,  -354px);
     -moz-transform: translate(12px,  -354px);
      -ms-transform: translate(12px,  -354px);
       -o-transform: translate(12px,  -354px);
          transform: translate(12px,  -354px);
}
.position2-2
{
  -webkit-transform: translate(134px, -354px);
     -moz-transform: translate(134px, -354px);
      -ms-transform: translate(134px, -354px);
       -o-transform: translate(134px, -354px);
          transform: translate(134px, -354px);
}
.position2-3
{
  -webkit-transform: translate(256px, -354px);
     -moz-transform: translate(256px, -354px);
      -ms-transform: translate(256px, -354px);
       -o-transform: translate(256px, -354px);
          transform: translate(256px, -354px);
}
.position2-4
{
  -webkit-transform: translate(378px, -354px);
     -moz-transform: translate(378px, -354px);
      -ms-transform: translate(378px, -354px);
       -o-transform: translate(378px, -354px);
          transform: translate(378px, -354px);
}
.position3-1
{
  -webkit-transform: translate(12px,  -232px);
     -moz-transform: translate(12px,  -232px);
      -ms-transform: translate(12px,  -232px);
       -o-transform: translate(12px,  -232px);
          transform: translate(12px,  -232px);
}
.position3-2
{
  -webkit-transform: translate(134px, -232px);
     -moz-transform: translate(134px, -232px);
      -ms-transform: translate(134px, -232px);
       -o-transform: translate(134px, -232px);
          transform: translate(134px, -232px);
}
.position3-3
{
  -webkit-transform: translate(256px, -232px);
     -moz-transform: translate(256px, -232px);
      -ms-transform: translate(256px, -232px);
       -o-transform: translate(256px, -232px);
          transform: translate(256px, -232px);
}
.position3-4
{
  -webkit-transform: translate(378px, -232px);
     -moz-transform: translate(378px, -232px);
      -ms-transform: translate(378px, -232px);
       -o-transform: translate(378px, -232px);
          transform: translate(378px, -232px);
}
.position4-1
{
  -webkit-transform: translate(12px,  -110px);
     -moz-transform: translate(12px,  -110px);
      -ms-transform: translate(12px,  -110px);
       -o-transform: translate(12px,  -110px);
          transform: translate(12px,  -110px);
}
.position4-2
{
  -webkit-transform: translate(134px, -110px);
     -moz-transform: translate(134px, -110px);
      -ms-transform: translate(134px, -110px);
       -o-transform: translate(134px, -110px);
          transform: translate(134px, -110px);
}
.position4-3
{
  -webkit-transform: translate(256px, -110px);
     -moz-transform: translate(256px, -110px);
      -ms-transform: translate(256px, -110px);
       -o-transform: translate(256px, -110px);
          transform: translate(256px, -110px);
}
.position4-4
{
  -webkit-transform: translate(378px, -110px);
     -moz-transform: translate(378px, -110px);
      -ms-transform: translate(378px, -110px);
       -o-transform: translate(378px, -110px);
          transform: translate(378px, -110px);
}

@media only screen and (max-width : 520px)
{
  #main-container
  {
    width: 280px;
  }
  #gametitle
  {
    margin-top: 30px;
    font-size: 70px;
    line-height: 70px;
  }
  #gameboard
  {
    font-size: 1em;
    width: 280px;
    height: 280px;
    border-radius: 8px;
  }
  #gameboardoverlay
  {
    width: 280px;
    height: 280px;
    border-radius: 8px;
    -webkit-transform: translateY(-272px);
       -moz-transform: translateY(-272px);
        -ms-transform: translateY(-272px);
         -o-transform: translateY(-272px);
            transform: translateY(-272px);
  }
  #gamewordoverlay
  {
    width: 280px;
    height: 280px;
    font-size: 45px;
    line-height: 330px;
    -webkit-transform: translateY(-272px);
       -moz-transform: translateY(-272px);
        -ms-transform: translateY(-272px);
         -o-transform: translateY(-272px);
            transform: translateY(-272px);
  }
  #gamewordoverlay.active
  {
    line-height: 230px;
  }
  .gamerow
  {
    width: 100%;
    margin-top: 8px;
  }
  .gamecell
  {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    margin-left: 8px;
  }
  .gamescore
  {
    height: 70px;
    padding: 10px;
    line-height: 10px;
    font-size: 10px;
    border-radius: 4px;
  }
  #newgame
  {
    line-height: 20px;
    font-size: 12px;
    border-radius: 4px;
  }
  #gamescorenotice, #highscorenotice
  {
    line-height: 40px;
    font-size: 35px;
  }
  .gamepiece
  {
    height: 60px;
    width: 60px;
    border-radius: 4px;
  }
  .gamepiececore
  {
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 4px;
  }
  .position1-1
  {
    -webkit-transform: translate(8px, -264px);
       -moz-transform: translate(8px, -264px);
        -ms-transform: translate(8px, -264px);
         -o-transform: translate(8px, -264px);
            transform: translate(8px, -264px);
  }
  .position1-2
  {
    -webkit-transform: translate(76px, -264px);
       -moz-transform: translate(76px, -264px);
        -ms-transform: translate(76px, -264px);
         -o-transform: translate(76px, -264px);
            transform: translate(76px, -264px);
  }
  .position1-3
  {
    -webkit-transform: translate(144px, -264px);
       -moz-transform: translate(144px, -264px);
        -ms-transform: translate(144px, -264px);
         -o-transform: translate(144px, -264px);
            transform: translate(144px, -264px);
  }
  .position1-4
  {
    -webkit-transform: translate(212px, -264px);
       -moz-transform: translate(212px, -264px);
        -ms-transform: translate(212px, -264px);
         -o-transform: translate(212px, -264px);
            transform: translate(212px, -264px);
  }
  .position2-1
  {
    -webkit-transform: translate(8px,  -196px);
       -moz-transform: translate(8px,  -196px);
        -ms-transform: translate(8px,  -196px);
         -o-transform: translate(8px,  -196px);
            transform: translate(8px,  -196px);
  }
  .position2-2
  {
    -webkit-transform: translate(76px, -196px);
       -moz-transform: translate(76px, -196px);
        -ms-transform: translate(76px, -196px);
         -o-transform: translate(76px, -196px);
            transform: translate(76px, -196px);
  }
  .position2-3
  {
    -webkit-transform: translate(144px, -196px);
       -moz-transform: translate(144px, -196px);
        -ms-transform: translate(144px, -196px);
         -o-transform: translate(144px, -196px);
            transform: translate(144px, -196px);
  }
  .position2-4
  {
    -webkit-transform: translate(212px, -196px);
       -moz-transform: translate(212px, -196px);
        -ms-transform: translate(212px, -196px);
         -o-transform: translate(212px, -196px);
            transform: translate(212px, -196px);
  }
  .position3-1
  {
    -webkit-transform: translate(8px,  -128px);
       -moz-transform: translate(8px,  -128px);
        -ms-transform: translate(8px,  -128px);
         -o-transform: translate(8px,  -128px);
            transform: translate(8px,  -128px);
  }
  .position3-2
  {
    -webkit-transform: translate(76px, -128px);
       -moz-transform: translate(76px, -128px);
        -ms-transform: translate(76px, -128px);
         -o-transform: translate(76px, -128px);
            transform: translate(76px, -128px);
  }
  .position3-3
  {
    -webkit-transform: translate(144px, -128px);
       -moz-transform: translate(144px, -128px);
        -ms-transform: translate(144px, -128px);
         -o-transform: translate(144px, -128px);
            transform: translate(144px, -128px);
  }
  .position3-4
  {
    -webkit-transform: translate(212px, -128px);
       -moz-transform: translate(212px, -128px);
        -ms-transform: translate(212px, -128px);
         -o-transform: translate(212px, -128px);
            transform: translate(212px, -128px);
  }
  .position4-1
  {
    -webkit-transform: translate(8px,  -60px);
       -moz-transform: translate(8px,  -60px);
        -ms-transform: translate(8px,  -60px);
         -o-transform: translate(8px,  -60px);
            transform: translate(8px,  -60px);
  }
  .position4-2
  {
    -webkit-transform: translate(76px, -60px);
       -moz-transform: translate(76px, -60px);
        -ms-transform: translate(76px, -60px);
         -o-transform: translate(76px, -60px);
            transform: translate(76px, -60px);
  }
  .position4-3
  {
    -webkit-transform: translate(144px, -60px);
       -moz-transform: translate(144px, -60px);
        -ms-transform: translate(144px, -60px);
         -o-transform: translate(144px, -60px);
            transform: translate(144px, -60px);
  }
  .position4-4
  {
    -webkit-transform: translate(212px, -60px);
       -moz-transform: translate(212px, -60px);
        -ms-transform: translate(212px, -60px);
         -o-transform: translate(212px, -60px);
            transform: translate(212px, -60px);
  }
}
